/* Reset CSS básico */

/* Box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Margin y padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Listas */
ul,
ol {
  list-style: none;
}

/* Texto */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

/* Enlaces */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
